[class^="icon-industry-"], [class*=" icon-industry-"] {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-industry-space {
	background-image: url(../../images/icon.space.svg);
}

.icon-industry-factory {
	background-image: url(../../images/icon.factory.svg);
}

.icon-industry-fuel {
	background-image: url(../../images/icon.petrol.svg);
}

.icon-industry-medical {
	background-image: url(../../images/icon.healthcare.svg);
}

.icon-industry-transport {
	background-image: url(../../images/icon.train.svg);
}

.icon-industry-energy {
	background-image: url(../../images/icon.solar.svg);
}

.icon-content-video {
	background-image: url(../../images/icon.video.svg);
}

.icon-content-infographic {
	background-image: url(../../images/icon.infographic.svg);
}

.icon-content-map {
	background-image: url(../../images/icon.map.svg);
}

.icon-content-post {
	background-image: url(../../images/icon.longform.svg);
}
