[class^="icon-industry-"], [class*=" icon-industry-"] {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-space {
	background-image: url(../images/space-sabre-reversed.svg);
}
.icon-space-reversed {
	background-image: url(../images/space-sabre.svg);
}

.icon-transport {
	background-image: url(../images/plane-virgin-reversed.svg);
}
.icon-transport-reversed {
	background-image: url(../images/plane-virgin.svg);
}

.icon-solar {
	background-image: url(../images/solar-infratech-reversed.svg);
}
.icon-solar-reversed {
	background-image: url(../images/solar-infratech.svg);
}

.icon-medicine {
	background-image: url(../images/microscope-calimmune-reversed.svg);
}
.icon-medicine-reversed {
	background-image: url(../images/microscope-calimmune.svg);
}

.icon-train {
	background-image: url(../images/train-royhill-reversed.svg);
}
.icon-train-reversed {
	background-image: url(../images/train-royhill.svg);
}

.icon-boat {
	background-image: url(../images/boat-csiro-reversed.svg);
}
.icon-boat-reversed {
	background-image: url(../images/boat-csiro.svg);
}

.icon-content-video {
	background-image: url(../images/video-icon-reversed.svg);
}

.icon-content-gallery {
	background-image: url(../images/gallery-icon-reversed.svg);
}

.icon-content-datavis {
	background-image: url(../images/datavis-icon-reversed.svg);
}

.icon-content-post {
	background-image: url(../images/post-icon-reversed.svg);
}

.icon-close {
	background-image: url(../images/close-icon-reversed.svg);
}
.icon-close-reversed {
	background-image: url(../images/close-icon.svg);
}
.icon-quote {
	background-image: url(../images/quote-icon-reversed.svg);
}
.icon-filter {
	background-image: url(../images/filter-icon-reversed.svg);
}

.icon-facebook {
	background-image: url(../images/facebook-for-content-pieces-reversed.svg);
}
.icon-twitter {
	background-image: url(../images/twitter-for-content-pieces-reversed.svg);
}
.icon-linkedin {
	background-image: url(../images/linkedin-for-content-pieces-reversed.svg);
}
