[class^="icon-industry-"], [class*=" icon-industry-"] {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-industry-space {
	background-image: url(../images/space-sabre-reversed.svg);
}

.icon-industry-factory {
	background-image: url(../images/plane-virgin-reversed.svg);
}

.icon-industry-fuel {
	background-image: url(../images/solar-infratech-reversed.svg);
}

.icon-industry-medical {
	background-image: url(../images/microscope-calimmune-reversed.svg);
}

.icon-industry-transport {
	background-image: url(../images/train-royhill-reversed.svg);
}

.icon-industry-energy {
	background-image: url(../images/boat-csiro-reversed.svg);
}

.icon-content-video {
	background-image: url(../images/icon.video.svg);
}

.icon-content-infographic {
	background-image: url(../images/icon.infographic.svg);
}

.icon-content-map {
	background-image: url(../images/icon.map.svg);
}

.icon-content-post {
	background-image: url(../images/icon.longform.svg);
}

.icon-close {
	background-image: url(../images/close-icon-reversed.svg);
}
