//.previewLineEl {
//  stroke-dasharray: 1000;
//  stroke-dashoffset: 1000;
//  @include animation(dash 1s ease forwards);
//}
//
//@include keyframes(dash) {
//  from {
//    stroke-dashoffset: 1000;
//  }
//  to {
//    stroke-dashoffset: 0;
//  }
//}

[rel="previewWrapper"] {
  position:relative;
  h2 {
    &:before {
      content: attr(data-type);
      display: block;
      font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 600;
      text-transform: capitalize;
      font-size: 1.5rem;
      margin-top: -2rem;
      margin-left: 2.5rem;
      margin-bottom: 1.5rem;
    }
    position: absolute;
    font-family: Abel, sans-serif;
    top: 0px;
    left: 110%;
    min-width: 30rem;
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
  }
}

#previewLine {
  position: absolute;
  top: 0px;
  left: 0px;
  &.preview-top {
    top: -196px;
    left: -134px;
  }
  &.preview-left {
    top: -192px;
    left: -359px;
  }
  &.preview-right {
    top: -196px;
    left: -134px;
  }
}
#previewElement {
    position: absolute;
    width: 180px;
    height: 120px;
    border: 1px solid white;
    margin-top: -210px;
    background-color: lightgray;
    margin-left: -100px;
    z-index: 10;
    background-size: cover;
    background-position: center center;
  
    //@include transition(opacity .5s ease-in-out);
    @include animation(flipInX .25s ease-in);

}


