@mixin flexbox(){
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex($val) {
	-webkit-box-flex: $val;
	-moz-box-flex:  $val;
	-webkit-flex:  $val;
	-ms-flex:  $val;
	flex:  $val;
}

@mixin flex-align($val){
	-webkit-box-align-items: $val;
	-moz-box-align-items: $val;
	-webkit-align-items: $val;
	-ms-align-items: $val;
	align-items: $val;
}

@mixin flex-direction($val){
	-webkit-box-flex-direction: $val;
	-moz-flex-direction: $val;
	-webkit-flex-direction: $val;
	-ms-flex-direction: $val;
	flex-direction: $val;
}

@mixin flex-wrap($val){
	-webkit-box-flex-wrap: $val;
	-moz-flex-wrap: $val;
	-webkit-flex-wrap: $val;
	-ms-flex-wrap: $val;
	flex-wrap: $val;
}

@mixin flex-justify($val){
	-webkit-box-justify-content: $val;
	-moz-justify-content: $val;
	-webkit-justify-content: $val;
	-ms-justify-content: $val;
	justify-content: $val;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin align-self($val) {
	-webkit-align-self: $val;
	align-self: $val;
}

@mixin filter($val) {
	-webkit-filter: $val;
	-moz-filter: $val;
	-o-filter: $val;
	-ms-filter: $val;
	filter: $val;
}