@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon';
<<<<<<< HEAD
@import '../../bower_components/neat/app/assets/stylesheets/_neat';
@import '../../bower_components/sass-mq/_mq';

@import '_mixins';

html {
	font: 300 normal 10px/1.2 "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
	background: #000;
	color: #fff;
	margin: 0;
	padding: 0;
    width: 100vw;
  	height: 100vh;
  	overflow: hidden;

}

// Assistive text
.assistive-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Dev enviroment test background with filter
.bg {
	min-height: 100vh;
	min-width: 100vw;
	position: absolute;
  	z-index: -1;
}

.bg-filter {
	background: transparent;
	background-image: url(../images/dots.png), radial-gradient(transparent, black);
	height: 100%;
	min-height: 100vh;
	min-width: 100vw;
	pointer-events: none;
	width: 100%;
  	position: absolute;
  	z-index: 0;
}


// Page mast with heading and filter
.masthead {

	display: block;
	padding: 2rem 0 6.5rem 2rem;
	position: relative;
	width: 100%;
  	z-index: 3;

	h1 {
		float: left;
		font-size: 12px;
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 1.08333333333;
		margin: 0 2em 0 0;
		padding: 0;
		text-transform: uppercase;
	}

	ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		background: url(../images/nav.div.png) 0 0 no-repeat;
		float: left;
		padding-left: 1rem;

		// Filter icons
		.filter-button--space {
			background-image: url(../images/icon.space.svg);
			background-size: auto 1.5em;
		}
		.filter-button--industry {
			background-image: url(../images/icon.factory.svg);
			background-size: auto 2em;
		}
		.filter-button--fuel {
			background-image: url(../images/icon.petrol.svg);
			background-size: auto 2em;
		}
		.filter-button--energy {
			background-image: url(../images/icon.solar.svg);
			background-size: auto 2.25em;
		}
		.filter-button--transport {
			background-image: url(../images/icon.train.svg);
			background-size: auto 2.5em;
		}
		.filter-button--medical {
			background-image: url(../images/icon.healthcare.svg);
			background-size: auto 1.75em;
		}

		.filter-button {
			background-color: transparent;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			border: 0;
			color: #fff;
			cursor: pointer;
			font-size: 8px;
			margin: 0;
			min-height: 2.5rem;
			outline: none;
			padding: 0 2rem;
		}
	}

	a.btn-index {
		color: #fff;
		display: block;
		float: right;
		margin: 0 2% 0 0;
		padding: 0 1.5em;
		text-align: right;
		text-decoration: none;
	}
}

// Information about maker, local time and location
.maker-info {
	font-size: 13px;
	font-size: 1.3rem;
	margin: 0 0 0 2%;
	position: relative;
	z-index: 3;
	.maker-title {
		strong {
			font-weight: 600;
		}
		em {
			font-style: normal;
		}
	}

	.maker-location {
		margin: .75em 0 0;
	}
}

.chrono {
	float: left;
	margin-right: 10px;
	margin-right: 1rem;
}

// Local time
.chrono-time {
	float: left;
	font-family: Abel, sans-serif;
	font-size: 56px;
	font-size: 5.6rem;
}

// Clock face
.chrono-clock {
	border: 2px solid #fff;
	border-radius: 100em;
	float: left;
	height: 32.5px;
	height: 3.25rem;
	margin: 1.5rem 1rem 0 0;
	position: relative;
	width: 32.5px;
	width: 3.25rem;

	.chrono-clock--hand-hour,
	.chrono-clock--hand-minute {
		display: block;
		left: 0%;
		position: absolute;
		top: 50%;
		transform-origin: top 50%;
		z-index: 1;

		i {
			background: #fff;
			border: 1px solid #fff;
			display: block;
			height: 1px;
		}
	}

	.chrono-clock--hand-hour {
		padding: 0 20% 0 49%;
		width: 100%;
	}

	.chrono-clock--hand-minute {
		padding: 0 10% 0 49%;
		width: 100%;
	}
}

// Timeline
.timeline {

  	$markerLineBaseLine:  10px;
	cursor: pointer;
	clear: left;
	padding-bottom: 2em;
	width: 100%;
	/* margin-top: 50vh; */
	position: relative;
	/* top: -160px; */
	height: 100vh;
	position: fixed;
	top: 0;

	.timeline-list {
	  	//@include transition(all .1s cubic-bezier(0.250, 0.250, 0.750, 0.750));
		font-size: 1rem;
		list-style: none;
		margin: 0;
		padding: 0 0 0 4em;
		position: relative;
		width: 490em; // ( 5em * 98 )
		margin-top: 50vh;
	  	top: -160px;

		> li {
			float: left;
			margin: 0;
			min-height: 6em;
			padding: 0;
			position: relative;
			text-align: center;
			width: 5em;

			// 5 data objects with fixed height to determine height
			.marker-data {
				height: 12em;
				position: relative;

				ul {
					bottom: 0;
					left: 0;
					list-style: none;
					margin: 0;
					padding: 0;
					position: absolute;
					width: 100%;
				}

				li {
					margin: 0;
					padding: 0;
				}

				a {
					color: #fff;
					display: block;
					font-family: monospace;
					font-size: 1.2rem;
					height: 2.4rem;
					line-height: 2.4rem;
					margin: 0 auto;
					text-align: center;
					text-decoration: none;
					width: 2.4rem;

					&::before {
						content: "\2022";
						font-size: 2.4rem;
						-webkit-font-smoothing: antialiased;
					}
				}

			}

			.marker-tick {
			  	&:before {
				  position: absolute;
				  content: "";
				  background-color: rgba(255,255,255,.8);
				  bottom: $markerLineBaseLine;
				  width: 100%;
				  height: .5rem;

				  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.3);
				}
				background-size: 0 0;
				display: block;
				height: 2.5em;

				&.marker-tick-long {
				  	&:before {
					  bottom: $markerLineBaseLine;
					}
					background-size: 1px 1.5em;
				}

				&.marker-tick-short {
				  	&:before {

					}
					background-size: 1px .75em;
				}
			}

			.marker-line {
				display: block;
				height: .3rem;
				width: 100%;

				&.marker-line-start{
					left: 50%;
					position: relative;
					width: 50%;
				}

				&.marker-line-end {
					width: 50%;
					width: calc(50% + 1px);
				}
			}

			.marker-label {
				display: block;
				font-family: Abel, sans-serif;
				font-size: 20px;
				font-size: 1.6rem;
				line-height: 1;
				margin: 0 auto;
				padding: 0;
				position: absolute;
			  	bottom: -40px;
				text-align: center;
				width: 100%;
			  	-webkit-font-smoothing: antialiased;
			}

		}
	}
}

// Footer

.base {
	bottom: 0;
	clear: both;
	padding-bottom: 2rem;
	position: absolute;
	width: 100%;

	.sponsor {
		float: left;
		margin-left: 2rem;
		min-width: 45em;

		p {
			font-family: "Open Sans", sans-serif;
			font-size: 10px;
			font-size: 1rem;
			font-weight: 300;
			display: block;
			margin: 0 0 .75em;
		}

		.logo-ge {
			background: url(../images/logo.ge.svg) 50% 50% no-repeat;
			background-size: contain;
			float: left;
			height: 2.5em;
			margin-right: 2rem;
			width: 2.5em;
		}

		.tagline {
			font-size: 12px;
			font-size: 1.2rem;
			font-weight: 700;
			line-height: 1;
			margin: 0;
			padding: 0;
			text-transform: uppercase;

			span {
				display: block;
				font-weight: 300;
			}
		}
	}

	.controls {
		float: right;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;
			top: 1em;
		}

		li {
			float: left;
			margin: 0;
			padding: 0;
		}

		button {
			background: transparent;
			border: 0;
			cursor: pointer;
			margin: 0;
			outline: none;
			padding: 0;
		}

		a,
		button {
			color: #fff;
			display: inline-block;
			font-size: 10px;
			font-size: 1rem;
			font-weight: 300;
			margin: 0;
			padding: .5em 2em;
			text-decoration: none;
		}
	}

	.logo-guardian {
		float: right;
		height: 1.45em;
		margin-right: 2%;
	  	top: 1.5rem;
	  	position: relative;
		width: 8.4em;
	}
}

@import "_makers";
@import "_circle";
=======
@import './vendor/gemini-scrollbar';
@import '../../bower_components/neat/app/assets/stylesheets/_neat';
@import '../../bower_components/sass-mq/_mq';
@import "base/base";

@import "components/masthead";
@import "components/maker-info";
@import "components/makers";
@import "components/timeline";
@import "components/footer";
@import "components/meet-the-makers";
@import "components/video-content-component";
@import "components/mobile";
@import "components/preview";
@import "components/content-posts";
@import "components/gallery";

@import "utils/transitions";

@import "components/icons";
@import "components/circle";



#progress {
  height: 1px;
  top: 0px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 2;

}
#introVideo {
	z-index: 1;
}
>>>>>>> 957e1911c6f61c0a16982467ca13029cb1c3e535
