@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import './vendor/gemini-scrollbar';
@import '../../bower_components/neat/app/assets/stylesheets/_neat';
@import '../../bower_components/sass-mq/_mq';
@import 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css';
@import "base/base";

@import "components/masthead";
@import "components/maker-info";
@import "components/makers";
@import "components/timeline";
@import "components/footer";
@import "components/meet-the-makers";
@import "components/video-content-component";
@import "components/mobile";
@import "components/preview";
@import "components/content-posts";
@import "components/gallery";

@import "utils/transitions";

@import "components/icons";
@import "components/circle";



#progress {
  height: 1px;
  top: 0px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 2;

}
#introVideo {
	z-index: 1;
}
