@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/_neat';
@import '../../bower_components/sass-mq/_mq';

@import "base/base";

@import "components/masthead";
@import "components/maker-info";
@import "components/makers";
@import "components/timeline";
@import "components/footer";
@import "components/meet-the-makers";
@import "components/video-content-component";

@import "utils/transitions";

@import "components/icons";
@import "components/circle";







#progress {
  height: 2px;
  top: 0px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0px;
  margin-top: 160px;
}

